header
  .main-grid
    .logo
      a(href="./index.html")
        img(src="../images/logo.png")

.hamburger-wrap
  .hamburger 
    span Закрыть
    em
    i
// header
include hamburger-menu.pug
// header