doctype html
html
	body
		// head
		include default/head.pug 
		// head

		// header
		include default/header.pug
		// header
		
		.main-area
			.slider
				each val in [""]
					.item.main-grid
						img.back-item(src="../images/img-1.jpg")
						.item-content
							h3 
								span О Юрии Куликове
							h2 ЮРИЙ КУЛИКОВ
					.pagination
						span.active
							.in-element
								i 01
								em
						span
						span
						span
						span
				.arr-wrap
					.prev ПРОШЛЫЙ
					i
					.next СЛЕДУЮЩИЙ